<!DOCTYPE html>
<html lang="en">
<head>
         {{>headerlinks}}    
</head>
<body>
   
   {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                  <div class="row">

                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/Programming-pana.png" alt="Img" width="70%" class="img-fluid">
                        </figure>
                  </div>
                     <!-- left side div -->
                      <div class="col-md-6 col-12 main_header_left">
                           <p>Welcome to weather app</p>
                           <h1>I am A <span class="text_clr">UI Full Stack Developer </span> with a passion for creating intuitive and visually appealing web applications.</h1>
                           <!-- provide portfolio link -->
                           <a href="javascript:void()"><button>About me</button></a>
                      </div>
                     
                  </div>
            </div>
        </div>
    </div>  
    
    {{>footer}}

</body>
</html>